.chat-page {
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;

    .chat-row {
        display: flex;
        width: 100%;
        .left1 {
            display: flex;
            overflow: hidden;
            width: 100%;
            &.width80 {
                // width: 80%;
                border-right: 1px solid #e1cbcb;
            }
        }

        .left {
            background: #fcf8f8;
            border: 1px solid #f0e2e2;
            overflow-y: auto;

            .history-list {
                padding: 12px;

                .height-52 {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    height: 52px;
                    width: 280px;
                    font-weight: 400;
                    font-size: 16px;
                    color: #3b1e1e;
                    &:hover {
                        background: #FCF8F8;
                    }
                    &.active {
                        border-right: 4px solid #c30d23;
                    }
                }
            }
        }

        .right {
            flex: 1;
            display: flex;
            flex-direction: column;
            overflow: hidden;

            .head {
                height: 56px;
                padding: 16px 12px;
                border-bottom: 1px solid #E1CBCB;
                display: flex;
                align-items: center;
                gap: 16px;

                .select-space {
                    width: 200px;
                    border-radius: 99px;
                    background: #FCF8F8;
                }
            }

            .contet {
                flex: 1;
                padding: 24px 96px 12px;
                overflow-y: auto;

                .right-align {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 16px;
                    align-items: end;
                    .text {
                        background: #FCF8F8;
                        padding: 12px;
                        border-radius: 12px;
                        color: #694747;
                        font-size: 16px;
                        line-height: 1.5;
                        max-width: 70%;
                    }

                    .icon {
                        display: flex;
                        gap: 4px;
                        padding-left: 60px;
                        color: #4E5969;

                        .anticon {
                            cursor: pointer;
                            padding: 5px 16px;

                            &:hover {
                                color: #694747;
                            }
                        }
                    }
                }

                .left-align {
                    display: flex;
                    gap: 12px;
                    margin-bottom: 16px;

                    .avtar {
                        width: 40px;
                        height: 40px;
                        background: #FFEEEE;
                        border-radius: 92.25px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    .dailog-content {
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                        gap: 4px;

                        .dailog-title {
                            font-size: 16px;
                            font-weight: 500;
                            color: #694747;
                        }

                        .dailog-text {
                            background: #FCF8F8;
                            padding: 12px;
                            border-radius: 12px;
                            color: #694747;
                            font-size: 16px;
                            line-height: 1.5;
                        }
                        .icon {
                            display: flex;
                            gap: 4px;
                            // padding-left: 60px;
                            color: #4E5969;
                            justify-content: flex-end;
    
                            .anticon {
                                cursor: pointer;
                                padding: 5px 16px;
    
                                &:hover {
                                    color: #694747;
                                }
                            }
                        }
                    }
                }
            }

            .footer {
                padding: 12px 96px;
                position: relative;

                .text {
                    background: #FCF8F8;
                    border-radius: 12px;
                    padding: 12px;
                    margin-bottom: 8px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .title {
                        font-size: 14px;
                        font-weight: 500;
                        color: #694747;
                    }

                    .quote-content {
                        font-size: 12px;
                        color: #694747;
                    }
                }

                .input-box {
                    background: #FFFFFF;
                    border: 1px solid #E1CBCB;
                    border-radius: 12px;
                    padding: 12px 16px;
                    box-shadow: 0px 2px 4px -2px rgba(23, 23, 23, 0.06), 0px 4px 8px -2px rgba(23, 23, 23, 0.1);
                    resize: none;
                    font-size: 16px;
                    color: #694747;
                    line-height: 1.375;
                    min-height: 48px;

                    &::placeholder {
                        color: #B89494;
                    }
                }

                .send {
                    position: absolute;
                    right: 112px;
                    bottom: 24px;
                    color: #E1CBCB;
                    cursor: pointer;
                    font-size: 22px;

                    &:hover {
                        color: #C30D23;
                    }
                }
            }
        }

        .citations {
            // width: 400px;
            // border-left: 1px solid #E1CBCB;
            // overflow: hidden;
            width: 50%;
            padding: 10px;
        }
    }
}

// PDF模态框样式
.pdf-modal {
    .ant-modal-content {
        height: 100%;
    }
    
    .ant-modal-body {
        height: calc(100% - 55px);
    }
}